/*game board size, black bkgd, centered*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: black;
  }
  
  body > div {
    margin: 120px auto;
    text-align: center;
  }
  
  
  /*game squares*/
  .tile {
    
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* Walls of board (squares) */
  .wall {
    background-color: blue;
    border: 2px solid cornflowerblue;
  }
  
  /* Coins bigger or smaller w/transform scale, rounded with the radius */
  .coin {
    background-color: yellow;
    border-radius: 50%;
    transform: scale(0.3);
  }
  
  
  /*wimage displayed depending on where pacman is looking*/
  .pacman {
    /* Need to add image urls or other fun links for each direction pacman (or dog, etc)
    is looking - right now just cat favicon with black background*/
    background-image: url("https://image.freepik.com/free-icon/github-logo-silhouette-in-a-square_318-54633.jpg");
  }
  
  .left {
    background-image: url("https://image.freepik.com/free-icon/github-logo-silhouette-in-a-square_318-54633.jpg");
  }
  
  .up {
    background-image: url("https://image.freepik.com/free-icon/github-logo-silhouette-in-a-square_318-54633.jpg");
  }
  
  .down {
    background-image: url("https://image.freepik.com/free-icon/github-logo-silhouette-in-a-square_318-54633.jpg");
  }

  .dogcatcher1 {
    background-image: url("https://image.freepik.com/free-icon/github-logo-silhouette-in-a-square_318-54633.jpg");
  }